.centerCarousel {
	margin: 10px auto;
	width: 100%;
	
}

.slogan {
	width: 100%;
    font-size: 38px;
    margin: 15px auto;
    text-align: center;
    font-family: Trebuchet MS;
}

.slogan2 {
	width: 55%;
    font-size: 42px;
    margin: 15px auto;
    text-align: center;
    font-family: Trebuchet MS;
}
