.centerCarousel {
	margin: 10px auto;
	width: 70%;
	
}

.slogan {
	width: 55%;
    font-size: 32px;
    margin: 15px auto;
    text-align: center;
}

.slogan2 {
	width: 55%;
    font-size: 35px;
    margin: 15px auto;
    text-align: center;
}
