.footer {
	width: 90%;
    margin: 0 auto;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.footer img {
	padding: 10px;
	max-width: 100%;
}

.footerContactLeft {
    float: left;
    padding: 3px;
}

.footerContactRight {
	width: 150px;
    float: right;
}

.footerFloatLeft {
	width: 30%;
	float: left;
}

.footerFloatCenter {
	width: 40%;
	float: left;
	padding: 0 7%;
}

.footerFloatRight {
	width: 30%;
	float: left;
	padding-left: 6%;
}
