.footer {
	width: 100%;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.footer img {
	padding: 5px 23px;
	max-width: 100%;
}

.float-left {
	float: left;
	padding-bottom: 1%;
	padding-left: 3%;
}

.float-left ul li:first-child {
	list-style: none;
}


@media only screen and (max-width: 450px) {
    
    .footer {
		width: 100%;
    	margin: 0 auto;
    	background-color: #f8f8f8;
    	border-color: #e7e7e7;
	}

    .footer img {
   		float: none;
    	margin: 0 auto;
    	padding: 15px 35px;
    	max-width: 400px;
	}

}