.footer {
	width: 100%;
	overflow: hidden;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.footer img {
	padding: 5px 23px;
	max-width: 100%;
}

.container-left {
	font-size: 16px;
	float: left;
	padding-top: 4%;
	padding-bottom: 1%;
	padding-left: 3%;
	width: 33.3%;
}

.container-center {
	float: left;
	padding-top: 5px;
	padding-bottom: 1%;
	padding-left: 3%;
	width: 33.3%;
}

.container-right {
	float: left;
	padding-top: 5%;
	padding-left: 2%;
	padding-bottom: 1%;
	width: 33.3%;
}

.float-left ul li:first-child {
	list-style: none;
}


@media only screen and (max-width: 1050px) {
    
    .footer {
		width: 100%;
    	background-color: #f8f8f8;
    	border: 1px solid #e7e7e7;
	}

    .footer img {
   		float: none;
    	margin: 0 auto;
    	padding: 15px 35px;
    	max-width: 350px;
	}

	.container-left {
		width: 100%;
		margin: 0 auto;
		padding-top: 0;
		padding-bottom: 1%;
	}

	.container-center {
		width: 100%;
		margin: 0 auto;
		padding-bottom: 1%;
	}

	.container-right {
		clear: both;
		padding-top: 0;
		padding-left: 3%;
	}


}