.header {
	text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    margin-bottom: 10px;
}

.image {
	width: 10%;
}

@media only screen and (max-width: 650px) {
    .image {
        width:25%;
    }
}