.header {
	text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    margin-bottom: 10px;
}

.navbar {
    height: 100px;
    margin-bottom: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand a {
    font-size: 24px;
    text-decoration: underline;
}

.navbar-brand>img {
    padding: 25px 0px 0px 0px;
    width: 50%;
    margin-top: 11%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #f8f8f8;
}

.navbar-collapse.in {
    border-bottom: 2px solid;
}

.navbar-right {
    font-size: 28px;
}