form {
	border-radius: 25px;
	background-color: #f8f8f8;
	border: 2px solid #e7e7e7;
	padding: 1%;
}

.margin-left {
	margin-left: 5%;
}

.full-width {
    min-width: 80%;
}

.center {
	text-align: center;
}

.responseText {
	font-size: 24px;
	padding: 20px;
}

.ReactModal__Overlay {
	background-color: rgba(0, 0, 0, 0.75) !important;
}